<p>You got a new message from <%= @last_name %> <%= @first_name %>! </p>
<p>
Form details<br>
--------------------------
</p>
<p>Surname: <%= @last_name %></p>
<p>Name: <%= @first_name %></p>
<p>Email: <%= @email %></p>
<p>
Message:<br>
----------
</p>
<p><%= @message %></p>
