<div class="row">
  <div class="testpassinfo p-3">
    <h1><%= t('.header') %> <%= @test_passage.test.title %></h1>
    <h4><%= t('.question_number', questions_count: @test_passage.test.questions.count) %> </h4>
    
    <% if @test_passage.test.timer_enabled? %>
      <div class="timer-container">
        <p><%= t('.remaining_time') %>: 
          <span class="timer badge bg-info text-white" data-remaining-time="<%= @test_passage.remaining_time %>">
            <%= format('%02d:%02d', @test_passage.remaining_time / 60, @test_passage.remaining_time % 60) %>
          </span>
        </p>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="testpasscontainer p-3">
    <b class="p-3">
      <%= t('.question_position', question_position: @test_passage.current_question_possition) %>: <%= @test_passage.current_question.body %>
    </b>
    <div class="p-3">
      <%= form_with url: test_passage_path(@test_passage), 
                                              local: true, 
                                              data: {questions_count: @test_passage.test.questions.count, 
                                                    question_position: @test_passage.current_question_possition},
                                              class: 'form-with-questions',
                                              method: :put do |form| %>
        <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
          <div class="d-flex justify-content-right">
            <p>
              <%= b.check_box id: "answer_ids_#{b.object.id}", class: 'form-check-input' %>
              <%= b.label %>
            </p>
          </div>
        <% end %>
        <p><%= link_to 'Gist Question', test_passage_gists_path(@test_passage), method: :post, class: 'link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %></p>
        <p><%= form.submit t('.next_question'), class: 'btn btn-primary btn-next' %></p>
      <% end %>
      <p><%= button_to t('.back'), tests_path,
                        method: :get, params: { lang: params[:lang] },
                        data: { confirm: t('.back_confirmation') },
                        class: 'btn btn-warning' %></p>
    </div>
    <div class="progress">
      <div class="progress-bar"  aria-valuemax="100"></div>
    </div>
  </div>
</div>
