<div class="row bg-dark text-light p-3 mt-5">
  <div class="col-12 col-md-4 p-3 d-flex justify-content-center" id="text-wrap">
    <a><%= t('layouts.footer.datatime') %>: <strong><%= current_year %></a></strong>
  </div>
  <div class="col-12 col-md-4 p-3 d-flex justify-content-center">
    <%= t('layouts.footer.author') %>: &nbsp; <strong><%= github_url('TestGuru', '/izulolov/TestGuru') %></strong>
  </div>
  <div class="col-12 col-md-4 p-3 d-flex justify-content-center">
    <a href="https://thinknetica.com/" ><%= t('layouts.footer.eduproject') %></a>
  </div>
</div>

