<tr>
  <td><%= test.title %></td>
  <td><%= test_level(test) %></td>
  <td class="center"><%= test_questions_number(test) %></td>
  <td><%= link_to t('admin.author_actions.show'), admin_test_path(test) %></td>
  <td><%= link_to t('admin.author_actions.edit'), edit_admin_test_path(test) %></td>
  <td>
  <%= link_to t('admin.author_actions.delete'),
              admin_test_path(test),
              method: :delete,
              data: { confirm: t('.delete_confirmation')} %>
  </td>
  <td><%= button_to t('.start'), start_test_path(test) %></td>
</tr>
