<%= form_with model: @test do |form| %>
  <% if @test.errors.present? %>
    <div>
      <h2><%= pluralize(@test.errors.count, 'error') %> detected:</h2>
      <ul>
        <% @test.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title, id: :test_title %>
  </p>

  <p>
    <%= form.label :level %>
    <%= form.number_field :level, id: :test_level %>
  </p>

  <p>
    <%= form.label :category_id, 'Categoty:' %><br>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p>
  
  <p>
    <%= form.label :user_id, 'User:' %><br>
    <%= form.collection_select :user_id, User.all, :id, :name, prompt: true %>
  </p>

  <p><%= form.submit %></p>
<% end %>
