  <tr>
    <td><%= test.title %></td>
    <td><%= test_level(test) %></td>
    <td class="center"><%= test_questions_number(test) %></td>
    <% if logged_in?%>
    <td><%= link_to 'Show', test_path(test) %></td>
    <td><%= link_to 'Edit', edit_test_path(test) %></td>
    <td>
    <%= link_to 'Delete',
                test_path(test),
                method: :delete,
                data: { confirm: 'Are you sure?'} %>
    </td>
    <%else%>
      <td><%= button_to 'Start', start_test_path(test), data: { confirm: 'Please log in first'} %></td>
    <%end%>
  </tr>
