<main class="content">
  <div class="informtextdiv">
    <p><%= t('tests.index.header') %></p>
  </div>

  <div class="main-div-table">
    <table class="tablestyle">
      <tr>
        <td><%= t('tests.index.title') %></td>
        <td><%= t('tests.index.level') %></td>
        <td><%= t('tests.index.number_of_questions') %></td>
        <td><%= t('tests.index.action') %></td>
      </tr>
      <%= render @tests %>
    </table>
  </div>
</main>
