<div class="row">
  <div class="p-3">
    <div class="informtext"><%= t('tests.index.header') %></div>
  </div>
</div>
<div class="row">
  <div class="alltest">
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th><%= t('tests.index.title') %></th>
          <th><%= t('tests.index.level') %></th>
          <th><%= t('tests.index.number_of_questions') %></th>
          <th><%= t('tests.index.action') %></th>
        </tr>
      </thead>
      <%= render @tests %>
    </table>
  </div>
</div>
