<div class="row">
  <div class="pt-3">
    <div class="informtext">
      <%= t('tests.index.header') %>
    </div>
  </div>
</div>
  <div class="click pointer" ><%= t('tests.index.sort_with_title') %>
    <%= octicon 'arrow-up', class: 'hide' %>
    <%= octicon 'arrow-down', class: 'hide' %>
  </div>
<div class="row pt-3 div-with-all-test">
  <%= render @tests %>
</div>
