<footer class="footer-container">
  <div class="left-footer">
    <a class="left-footer-a"> <%= t('layouts.footer.datatime') %>: <%= current_year %></a>
  </div>
  <div class="center-footer">
    <a class="center-footer-a"><%= t('layouts.footer.author') %>: <%= github_url('TestGuru', '/izulolov/TestGuru') %> </a>
  </div>
  <div class="right-footer">
    <a class="right-footer-a" href="https://thinknetica.com/" ><%= t('layouts.footer.eduproject') %></a>
  </div>
</footer>
