<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Panel | TestGuru</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluit">
      <%= render 'admin/nav' %>
    </div>

    <div class="container">
      <%= render 'shared/flash' %>
    </div>
    
    <div class="container">
      <%= yield %>
    </div>
    
    <div class="container-fluit">
      <%= render 'shared/footer' %>
    </div>
    
  </body>
</html>
